<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Level 3</title>
</head>
<body>
    <h1>Welcome to Level 3
    </h1>
    <h2>
        {% for i in range(_number) %}
        <div style="background-color: {{color}} !IMPORTANT">
        </div>
        {% endfor %}
    </h2>
    <h3>Feel free to modify the number and/or color located in the URL to dictate how many (and color) of boxes you see.</h3>
    <a href="/play/5">Go Back to Level 2</a>
</body>
</html>