<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>/Play</title>
</head>
<body>
    <h1>Welcome to Level 1</h1>
    <h2>
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
    </h2>
    <a href="/play/5">Take me to Level 2</a>
    <a href="/">Go Back to the Home Page</a>
</body>
</html>